# Config
DEFAULT_MARKUP=.035 #For cabinet markup
GOOGLE_CREDENTIALS_BASE64= You need to convert the JSON credentials into a single base64 string and paste it here, ask an AI how to do it

# Google
WORKBOOK_URL= google sheet url
LOG_PRIORITY_THRESHOLD= 1 #UNUSED -- use a number between 0 and 4 

# Jobber
JOBBER_CLIENT_ID= get from jobber app page
JOBBER_CLIENT_SECRET= get from jobber app page
JOBBER_REDIRECT_URI=http://localhost:5000/jobber/callback or service url

# Leave the following blank on first setup. The application will provide the value for you
# in the terminal after you successfully authorize it for the first time.
JOBBER_API_TOKEN=

# Saberis
SABERIS_AUTH_TOKEN= get from saberis website, under settings

# Misc
FLASK_SECRET_KEY="AnArbitrarySecret"