WORKBOOK_URL= google sheet url
LOG_PRIORITY_THRESHOLD= 0-4, higher numbers block low priority updates from writing to google sheet
JOBBER_CLIENT_ID= get from jobber app page
JOBBER_CLIENT_SECRET= get from jobber app page
JOBBER_REDIRECT_URI=http://localhost:5000/jobber/callback or service url
FLASK_SECRET_KEY="AnArbitrarySecret"
DEFAULT_MARKUP=.035